<?xml version="1.0"?>

<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find drone_color_follow)/car_description/worlds/car.world"/>
  </include>

  <node pkg="rosservice" name="motors" type="rosservice" args="call --wait /uav1/enable_motors 'true'" />


  <!--Spawn simulated quadrotor uav -->
  <group ns="uav1">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
    <arg name="name" value="uav1"/>
    <arg name="tf_prefix" value="uav1" />
  </include>
</group>

</launch>
